<div class="card">
    <div class="card-content">
        <span class="card-title">Add Offer</span>
        <form (ngSubmit) = "saveNewOffer()" class ="col s6">
            <div class="column">
                <div class="input-field col s6">
                   <input type="text" name="city" [(ngModel)]="offer.city" class="form-control" autofocus>
                   <label>City</label>
                </div>
                <div class="input-field col s6">
                   <input type="text" name="street" [(ngModel)]="offer.street" class="form-control" autofocus>
                   <label>Street</label>
                </div>
                
                <div class="input-field col s6">
                   <input type="text" name="prperty" [(ngModel)]="offer.property" class="form-control" autofocus>
                   <label>Property</label>
                </div>
                
                <div class="input-field col s6">
                    <input type="text" name="apartment" [(ngModel)]="offer.apartment" class="form-control" autofocus>
                    <label>Apartment</label>
                </div>
                
                <div class="input-field col s6">
                    <input type="text" name="price" [(ngModel)]="offer.price" class="form-control" autofocus>
                    <label>Price</label>
                </div>
                
                <div class="input-field col s6">
                    <input type="text" name="price" [(ngModel)]="offer.type" class="form-control" autofocus>
                    <label>Type</label>
                </div>
                
                <div class="input-field col s6">
                    <input type="text" name="description" [(ngModel)]="offer.description" class="form-control" autofocus>
                    <label>Description</label>
                </div>
                <input type="submit" value="Submit" class="btn">
            </div>

        
        </form>
    
</div>